:lang(ca) {
    font-weight: bold;
}
:lang(es) {
    font-weight: normal;
}
:lang(en) {
    font-weight: normal;
    font-style: italic;
}
h1 {
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    padding-bottom: 20px;
    margin-top: -5px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
a {
    color: #50a5ff;
    text-decoration: none;
    background-color: transparent;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #e2e2e2;
    text-align: left;
    background-color: #2f3030;
}
#img {
    display: flex;
    justify-content: center;
    align-content: center;
}
img {
    border-radius: 50%;
    width: 250px;
    padding: 15px;
}
.text-center {
    text-align: center!important;
}
.hidden{
	line-height: 0; 
    font-size: 0;
}
/* Footer */
.footer-basic {
    padding: 20px 0;
    color: #c9c9c9;
  }
  
  .footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
  }
  
  .footer-basic li {
    padding: 0 10px;
  }
  
  .footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity: 1;
  }
  
  .footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
  }
  
  .footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity: 0.9;
  }
